networks:
  zeebe_network:
    driver: bridge

services:
  zeebe:
    container_name: zeebe_broker
    image: camunda/zeebe:8.8.6
    environment:
      - ZEEBE_LOG_LEVEL=debug
      # disable Camunda exporter - enable and configure when required by your project
      - CAMUNDA_DATA_SECONDARYSTORAGE_TYPE=none
      # allow running with low disk space
      - ZEEBE_BROKER_DATA_DISKUSAGECOMMANDWATERMARK=0.998
      - ZEEBE_BROKER_DATA_DISKUSAGEREPLICATIONWATERMARK=0.999
      # security
      - ZEEBE_BROKER_GATEWAY_ENABLE=true
      - CAMUNDA_SECURITY_AUTHORIZATIONS_ENABLED=false
      - CAMUNDA_SECURITY_AUTHENTICATION_UNPROTECTEDAPI=true
      # Zeebe Redis Settings
      - ZEEBE_REDIS_REMOTE_ADDRESS=redis://redis:6379
      - ZEEBE_REDIS_TIME_TO_LIVE_IN_SECONDS=900
    ports:
      - "26500:26500"
      - "9600:9600"
    volumes:
      - zeebe:/usr/local/zeebe/data
      - ../exporter/target/jib/zeebe-redis-exporter-jar-with-dependencies.jar:/usr/local/zeebe/exporters/zeebe-redis-exporter-jar-with-dependencies.jar
      - ./application.yaml:/usr/local/zeebe/config/application.yaml
    networks:
      - zeebe_network
    depends_on:
      - redis

  redis:
    container_name: redis_cache
    image: redis:8-alpine
    ports:
      - "6379:6379"
    networks:
      - zeebe_network

volumes:
  zeebe:
  elastic:
