name: Build project
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '42 6 * * 1-5' # run nightly main builds on weekdays

jobs:
  build:
    name: Build Java
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Java setup
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
          
#      - name: Setup Testcontainers Cloud Client
#        uses: atomicjar/testcontainers-cloud-setup-action@v1
#        with:
#          token: ${{ secrets.TC_CLOUD_TOKEN }}

      - name: Run Maven
        run: mvn -B clean verify com.mycila:license-maven-plugin:check
  build-net:
    name: Build .NET
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Pull Zeebe
      run: docker pull ghcr.io/camunda-community-hub/zeebe-with-redis-exporter:latest
    - name: Pull Redis
      run: docker pull redis:7-alpine
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build --configuration Release
      working-directory: connector-csharp
    - name: Test
      run: dotnet test --configuration Release --no-build    
      working-directory: connector-csharp
